<% include ../partials/header.ejs %>

<!--
File name: projects > index.ejs
Student's name: Hyojin Kim
Student's number: 300950009
Date: February 16, 2019
-->

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">PROJECTS</h1>
          <!--<p class="lead my-3"></p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>-->
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Android</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Game Kok</a>
              </h3>
              <div class="mb-1 text-muted">Oct. 2015</div>
              <p class="card-text mb-auto">This application's major service is a point reward and aution system.</p>
              <p class="card-text mb-auto"><b>Role:</b> Full stack developer</p>
              <!--<a href="#">Continue reading</a>-->
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="../Assets/images/projects/project5.jpg" style="width:200px; height:250px;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Android & Web</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Alba Toc Toc</a>
              </h3>
              <div class="mb-1 text-muted">May. 2014</div>
              <p class="card-text mb-auto">An android application for job searching and headhunting.</p>
              <p class="card-text mb-auto"><b>Role:</b> Back end developer (Java)</p>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="../Assets/images/projects/project2.jpg" style="width:200px; height:250px;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Web</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Company Portal</a>
              </h3>
              <div class="mb-1 text-muted">Aug. 2011</div>
              <p class="card-text mb-auto">Web-based in-company portal platform provides convenience and increases work efficiency.</p>
              <p class="card-text mb-auto"><b>Role:</b> Full stack web developer</p>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="../Assets/images/projects/project4.jpg" style="width:200px; height:250px;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Web</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">CBT System</a>
              </h3>
              <div class="mb-1 text-muted">Jun. 2011</div>
              <p class="card-text mb-auto">CBT is the abbreviation of "Close Beta Test". This system brings limited gamer player to outside who want to play the game.</p>
              <p class="card-text mb-auto"><b>Role:</b> Front end web developer</p>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="../Assets/images/projects/project3.jpg" style="width:200px; height:250px;">
          </div>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>