<!--
File name: partials > footer.ejs
Student's name: Hyojin Kim
Student's number: 300950009
Date: February 16, 2019
-->

  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>

</div><!-- /.container -->
</body>
</html>